### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

## Xcode Workspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

## Xcode Project
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/default.*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
*~
*.swp

